/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html { 
  @apply antialiased;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  @apply text-white bg-gray-800;
}